/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Viga&display=swap');

/* HEADER */
.wrapper {
	max-width: 1300px;
	margin: 0 auto;
}

header {
	background-color: cornsilk;
	width: 100%;
    padding-bottom: 25px;
    display: flex;
}

nav {
	color: grey;
    display: flex;
    width: 45vw;
}

nav a {
	text-decoration: none;
	padding: 1px 20px;
	color: rgb(88, 87, 87);
	margin-top: 3vh;
	font-size: 1.5rem;
}

.logo {
	/* padding-top: 20px; */
	/* padding-bottom: 0; */
    padding-left: 75%;
    margin-top: 2vh;
}

.intro {
    margin-top: 5vh;
    margin-left: 80px;
	width: 100%;
    display: flex;
}

.hero-text {
	width: 45%;
	padding: 50px;
	margin: 40px;
}

button {
    background-color: white;
    padding: 4px 25px;
    margin: 15px 0 0 25px;
    border: 1px solid black;
}

.hero-image {
	/* width: 50%; */
    margin: 60px 0 10px 80px;
    justify-content: center;
	align-items: center;
	
}

h1 {
    font-size: 48px;
    line-height: 27px;
    text-align: center;
}

p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	line-height: 20px;
}

h3 {
	font-family: 'Viga', sans-serif;
	font-size: 22px;
}

.full-width {
	width: 100%;
	display: flex;
}

.half-width {
	width: 49%;
    padding: 20px 10px;
    /* margin: 15px; */
    /* display: flex; */
}

.third-width {
	width: 32%;
    padding: 20px 10px;
}

img.middle-img {
    width: 100%;
}

h6 {
	font-size: 12px;
	text-align: center;
	margin: 20px;
}

footer {
	padding: 15px;
}

footer p {
	font-size: 14px;
}

span {
	font-size: 12px;
}

@media (max-width: 800px) {
    * {
        max-width: 100%;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }
    header {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
    }

    nav {
        margin: 0;
        width: 100%;
    }

    nav a {
        font-size: 1rem;
    }

    .hero-text {
        margin: 0;
        padding: 0;
    }

    .hero-image {
        margin-top: 45px
    }


    .logo {
        padding-top: 1.5vh;
        padding-left: 0;
    }

    .half-width {
        border-bottom: 1px solid black;
        padding-top: 5px;
    }

    .third-width {
        border-bottom: 1px solid black;
    }
}

/* @media (max-width: 500px) {
    * {
        max-width: 100%;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    header {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 500px;
    }
    nav a {
        border-top: 1px solid black;
        width: 65%;
        text-align: center;
        font-size: 16px;
        padding-top: 2vh;
        padding-bottom: 1vh; 
    }

    nav a:last-child {
        border-bottom: 1px solid black;
        padding-top: 1.5vh;
        padding-bottom: 3vh;
    }

    .logo {
        padding-top: 1.5vh;
        padding-left: 0;

    }

    div.intro {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .full-width {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .half-width, .third-width {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    button {
        margin: 15px 0 0 45px;
    }

    .hero-image {
        display: none;
    }


    .title {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    footer {
        border-top: 2px solid black;
    }

    footer h3 {
        margin-top: 15px;
    }
} */

